
<h3>Directory 📖</h3>

<hr class="my-3">
<%= link_to 'New Webook', new_konfe_path, class:"btn btn-outline-primary" %>
<hr class="my-2">




<% @konves.each do |konfe| %>
<div class="card bg-light mb-2" style="max-width: 25rem;">
    <div class="card-body">
    <h5 class="card-title"><%= konfe.name %></h5>
    <p class="lead" style="color: white"><b>Age</b> :<strong style="color: #FFFFB7">
  <%= konfe.age %></strong></p>
  <td><%= link_to 'Show More', konfe, class:"btn btn-outline-success" %></td>
  </div>
</div>

  <% end %>



<div class="flickr_pagination">
     <%= will_paginate @konves, :container => false %>
</div>

