<script type="text/javascript">
  

function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");


  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  textArea.style.width = '2em';
  textArea.style.height = '2em';

 
  textArea.style.padding = 0;

  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';


  textArea.style.background = 'transparent';


  textArea.value = text;

  document.body.appendChild(textArea);

  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

function CopyLink() {
  copyTextToClipboard(location.href);document.getElementById("demo").innerHTML = "Link Copied ✂ Now Share It With Friends";
}



</script>





<h3> User Deatils 📂</h3><br/>

<div class="card bg-light mb-3" style="max-width: 25rem;">
  
  <div class="card-body">
    <h5 class="card-title"><%= @konfe.name %></h5>
    <p class="card-text">Quote 😎</p>
    <div class="card-header" ><i style="color: #FFFFB7"><%= @konfe.quote %></i></div>
    
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 25rem;">
  <hr class="my-2">

 <p class="lead"><strong style="color: #FFFFB7">👀 Instagram :</strong >
  <%= @konfe.insta_uname %></p>

   <p class="lead"><strong style="color: #FFFFB7">👻 Snapchat :</strong>
  <%= @konfe.snap_uname %></p>

 <p class="lead"><strong style="color: #FFFFB7">🧐 Age :</strong>
  <%= @konfe.age %></p><br/>

</div>

<button class="btn btn-outline-dark" onclick="CopyLink()">Click To Copy This Page Link To Share</button>
<hr class="my-1">
<p id="demo"></p>


<hr class="my-2">
<% if user_signed_in? %>
<%= link_to 'Edit', edit_konfe_path(@konfe), class:"btn btn-outline-primary" %> | |
<%= link_to 'Destroy', @konfe, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%> | |
<%= link_to 'Back', konves_path, class:"btn btn-outline-dark" %>
<% else %>
<%= link_to 'Back', konves_path, class:"btn btn-outline-dark" %>
<%end %>
