<!DOCTYPE html>
<html>
  <head>
    <title>Webook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <%= render "home/nav"%><center><br/>


    

    <div class="container">

 <% if notice %>
   <strong><%= render "konves/alert"%></strong>
<% end%>


    <%= yield %>
 
  </div>
</center>
</body>
<br/>

<footer>
  <blockquote class="blockquote text-center">
 <footer class="blockquote-footer">Made By <cite title="Source Title"><a href="https://ki5uk3.github.io/" style="color: white">ki5uk3</a></cite></footer>
</blockquote></footer>


</html>

