<!DOCTYPE html>
<html>
  <head>
    <title>Webook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

<link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
  <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
    <%= render "home/nav"%><center><br/>


    

    <div class="container">

 <% if notice %>
   <strong><%= render "konves/alert"%></strong>
<% end%>


    <%= yield %>
 
  </div>
</center>
</body>
<br/>

<footer>
  <blockquote class="blockquote text-center">
 <footer class="blockquote-footer">Made By <cite title="Source Title"><a href="https://ki5uk3.github.io/" style="color: white">ki5uk3</a></cite></footer>
◆ ◆ ◆
</blockquote>
</footer>


</html>

